@model AxisManagementApp.Models.YLineTranslation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YLineTranslation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDB_Yline_ProdCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDB_Yline_ProdCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDB_Yline_IPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDB_Yline_IPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDB_Yline_MktNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDB_Yline_MktNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLoadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditMSID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditMSID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreAward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreAward)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
