@model AxisManagementApp.Models.SelPLProduct

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SelPLProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWNW_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWNW_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWPR_PFX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWPR_PFX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GRGR_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GRGR_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GRGR_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GRGR_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditMSID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditMSID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLoadDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecordID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
