@model AxisManagementApp.Models.SelPLProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SelPLProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWNW_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWNW_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWPR_PFX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWPR_PFX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GRGR_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GRGR_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GRGR_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GRGR_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditMSID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditMSID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLoadDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
