@model AxisManagementApp.Models.ServiceArea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceArea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportInclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportInclude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLoadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
