@model AxisManagementApp.Models.CompetitorTranslation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompetitorTranslation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrenuusProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrenuusProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLoadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditMSID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditMSID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
